header {
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;

  .header {
    display: flex;
    gap: 70px;
    align-items: center;

    .h-ul {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      display: flex;

      li {
        font-size: 14px;
        padding: 9px 15px;
        // color: white;
      }
    }
  }
}
